<button class='{%if day == 7%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 7) }}'"> Sunday</button>
<button class='{%if day == 1%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 1) }}'"> Monday</button>
<button class='{%if day == 2%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 2) }}'"> Tuesday</button>
<button class='{%if day == 3%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 3) }}'"> Wednesday</button>
<button class='{%if day == 4%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 4) }}'"> Thursday</button>
<button class='{%if day == 5%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 5) }}'"> Friday</button>
<button class='{%if day == 6%} active {%endif%}' onclick="location.href='{{ url_for('home', id = 6) }}'"> Saturday</button>